body {
	background-color: #fff;
	background-image: linear-gradient(180deg, rgba(100, 100, 100, 0) 0%,
		rgba(100, 100, 100, 0) 98%, #646464 100%);
	background-size: 100% 2em;
	line-height: 2em;
	border: solid 1px #e6e6e6;
	color: #696969;
	padding: 2em 1em 1.98em 1em;
	margin: 2em 0;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

	font-family: BIZ UDPGothic, Meiryo, Hiragino Kaku Gothic ProN,
	Helvetica Neue, Avenir, sans-serif;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 800px;
}

.login {
	padding: 0em 0 3em 2em;
	margin: 2em 0;
	font-weight: bold;
	border: solid 3px #000000;
	border-radius: 10px;
	background-color: white;
}

.login .submit {
	padding-left: 5.3em;
}

.loginForm {
	padding-bottom: 0.5em;
}

.header {
	text-align: right;
}

.search-message {
	padding: 0.5em 1em;
	margin: 2em 0;
	font-weight: bold;
	border: solid 3px #000000;
	position: relative;
	clear: left;
	padding: 0.5em 1em 1em 1em;
	border-radius: 10px;
	background-color: white;
}

.search .form {
	padding: 0.5em 0;
}

.search .submit {
	text-align: right;
	padding: 0.5em;
}

.message {
	padding: 10px 15px;
	margin: 30px 0;
	color: #232323;
	background: #fff8e8;
	border-left: solid 10px #ffc06e;

}

.message .message-date {
	margin-bottom: 12px;
}

.message .label{
	font-size: 12px;
	color: #666666;
	margin: -0.5em 0 -1.4em 0;
}

.message .text{
	margin-top: 10px;
	line-height: 1.1em;
}

.deleteButton {
	margin: -0.9em 0px 10px 0px;
}

.show-message {
	border-bottom: dashed 5px #ffdeb3;
}

.showComment {
	margin-top: 20px;
	margin-bottom: 20px;
}

.showComment .name {

}

.showComment .text {

}

.post-message {
	margin: 2em 0;
	font-weight: bold;
	border: solid 3px #000000;
	position: relative;
	clear: left;
	padding: 0 1em 1em 2em;
	border-radius: 10px;
	background-color: white;
}

.post-message .submit{
	margin: 1em 0em;
}

.manegement {
	padding: 0px 15px 3px 15px;
	margin: 30px 0;
	color: #232323;
	background: #d6f7fa;
	border-left: solid 10px #55dfea;

}

.manegement .label {
	font-size: 12px;
	color: #666666;
	margin: -0.5em 0 -1.4em 0;
}

.manegement .span {
	font-size: 16px;
}

.manegement .submit {
	margin: 0px 0px 10px 0px;
}

.setting {
	margin: 2em 0;
	font-weight: bold;
	border: solid 3px #000000;
	position: relative;
	clear: left;
	padding: 0 1em 1em 4em;
	border-radius: 10px;

	background-color: white;
}

.setting .submit {
	margin: 1em 7em;
}

.signup {
	margin: 2em 0;
	font-weight: bold;
	border: solid 3px #000000;
	position: relative;
	clear: left;
	padding: 0 1em 1em 4em;
	border-radius: 10px;

	background-color: white;
}

.signup .submit {
	margin: 1em 7em;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}


.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
	margin-top: -0.9em;
	margin-bottom: 1.3em;
}

.copyright {
	width: 250px;
	margin: 0 auto;
	font-family: Yu Mincho;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 10px 15px;
	margin: 30px 0;
	color: #666666;
	background: #ffb3b3;
	border-left: solid 10px #ff0000;
}